.comboBox {
    top: 100%;
    right: 0;
    z-index: 100;
    display: flex;
    display: none;
    flex-direction: column;
    min-width: 190px;
    max-height: 271px;
    overflow: auto;
    overflow-x: hidden;
    background-color: var(--color-background);
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    box-shadow: var(--comboBox-shadow);
    transition: var(--theme-transition);

    .listItem__title {
        font-size: 1rem;
    }
}

.comboBox.comboBox {
    overflow: auto;
}

.comboBox--loading {
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.comboBox__item {
    cursor: pointer;
    transition: var(--theme-transition);

    button {
        background: none;
        border: none;
    }

    > button,
    > a {
        display: flex;
        flex: 1 1 auto;
        gap: 12px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: var(--input-height);
        height: 3.5rem;
        padding-right: var(--input-padding);
        padding-left: var(--input-padding);
        font-family: var(--primary-font);
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--grey-600);
        text-align: left;
        cursor: pointer;
    }

    .listItem__main.listItem__main {
        display: flex;
        align-items: center;

        .listItem__contentWrapper {
            align-self: center;
        }
    }

    &[aria-selected='true'] > button,
    &[aria-selected='true'] > a,
    > a[aria-current],
    > button[aria-current],
    > button:focus,
    > button:hover,
    > a:focus,
    > a:hover {
        color: var(--field-option-active-color);
        outline: none;
        background-color: var(--field-option-active-background);

        arpa-icon {
            color: var(--field-option-active-color);
        }

        .listItem__title,
        .listItem__content,
        .listItem__contentWrapper,
        .comboBox__item__label {
            font-weight: var(--field-option-active-weight);
            color: var(--field-option-active-color);
            letter-spacing: -0.2px;
        }
    }

    &[aria-selected='true'] > button,
    &[aria-selected='true'] > a,
    > a[aria-current],
    > button[aria-current] {
        .listItem__title,
        .listItem__content,
        .listItem__contentWrapper,
        .comboBox__item__label {
            font-weight: var(--field-option-active-weight);
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }
    }
}

.comboBox__item__label {
    text-align: left;
}
