.comboBox {
    background-color: var(--overlay);
    border-radius: 6px;
    border: 1px solid var(--border-color);
    box-shadow: var(--select-combo-box-shadow);
    display: flex;
    flex-direction: column;
    max-height: 271px;
    min-width: 190px;
    overflow-x: hidden;
    overflow: auto;
    right: 0px;
    top: 100%;
    transition: var(--theme-transition);
    z-index: 100;
}

.comboBox--loading {
    min-height: 200px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.comboBox__item {
    cursor: pointer;
    transition: var(--theme-transition);
}

.comboBox__item button {
    background: none;
    border: none;
}

.comboBox__item > button,
.comboBox__item > a {
    color: var(--text-color);
    cursor: pointer;
    padding: 0;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    height: var(--input-height);
}

.comboBox__item[aria-selected='true'] > button,
.comboBox__item[aria-selected='true'] > a,
.comboBox__item > a[aria-current],
.comboBox__item > button[aria-current],
.comboBox__item > button:focus,
.comboBox__item > button:hover,
.comboBox__item > a:focus,
.comboBox__item > a:hover {
    outline: none;
    background-color: var(--color-lightest-blue);
    color: var(--color-primary);
    arpa-icon {
        color: var(--color-primary);
    }

    .listItem__title {
        color: var(--color-primary);
    }
}
