icon-menu {
    display: flex;
    margin-left: auto;
    .comboBox {
        right: 0;
        margin-right: -14px;
    }
}

.iconMenu__button:hover {
    background-color: var(--selected-hilight);
    color: var(--color-primary);
}

.iconMenu__navigation {
    position: relative;
    z-index: 10;
    overflow: visible;
}
