:root {
    --button-active-color: var(--grey-500);
    --button-active-icon-color: var(--color-p);
    --button-active-outline: none;
    --button-border: 2px solid var(--grey-0);
    --button-box-shadow-hover: -2px -2px 5px var(--grey-0), 2px 2px 5px var(--grey-200);
    --button-box-shadow: -5px -5px 20px var(--grey-0), 5px 5px 20px var(--grey-200);
    --button-color: var(--grey-400);
    --button-gap: 0.4rem;
    --button-height: 3rem;
    --button-icon-color: var(--grey-300);
    --button-input-box-shadow-active: -2px -2px 5px var(--grey-50), 2px 2px 5px var(--grey-200);
    --button-input-box-shadow: -5px -5px 8px var(--grey-75), 5px 5px 8px var(--grey-200);
    --button-outline: 2px solid var(--border-color);
    --button-padding: 0 1rem 0 0.8rem;
    --button-radius: 12px;
    --button-underline-color: var(--grey-200);
    --button-weight-active: 700;
    --button-weight: 800;
}

.arpaButton:not([variant='minimal']) {
    --icon-size: 1.2rem;
    position: relative;
    align-items: center;
    gap: var(--button-gap);
    background-color: var(--color-background);
    border-radius: var(--button-radius);
    border: var(--button-border);
    outline: var(--button-outline);
    box-shadow: var(--button-box-shadow);
    cursor: pointer;
    display: flex;
    height: var(--button-height);
    padding: var(--button-padding);
    transition: var(--theme-transition);

    &:has(.button__lhsIcon) {
        padding-left: 0.5rem;
    }

    arpa-icon {
        color: var(--button-icon-color);
        --icon-size: 1.4rem;
    }

    /**
     * Variants
     */

    &[variant='primary'] {
        background-color: var(--grey-0);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--grey-10);
            }
        }
    }

    &[variant='secondary'] {
        background-color: var(--color-secondary);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--color-secondary);
            }
        }
    }

    &[variant='tertiary'] {
        background-color: var(--color-tertiary);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--color-tertiary);
            }
        }
    }
    &[variant='submit'] {
        --button-icon-color: var(--purple-dark);
        --button-border: 2px solid var(--purple-dark);
        --button-active-color: var(--purple-dark);
        --button-active-icon-color: var(--purple-dark);
        --button-underline-color: var(--purple-dark);
    }
}

/**
* Hover / Focus
*/

.arpaButton:not(:disabled):not([data-invalid]) {
    &:hover,
    &:focus {
        box-shadow: var(--button-box-shadow-hover);
        .button__content {
            font-weight: var(--button-weight-active);
            color: var(--button-active-color);
        }
        .icon {
            color: var(--button-active-icon-color);
        }
    }
}

/**
* Disabled
*/

.arpaButton:disabled,
.arpaButton[data-invalid] {
    cursor: not-allowed;
    opacity: 0.5;
}

arpa-button {
    button arpa-tooltip.tooltip {
        position: absolute;
        inset: 0;
    }
}

.button__content {
    flex: 1 1 auto;
    max-height: 100%;
    height: auto;
    display: block;
    white-space: nowrap;
    font-weight: var(--button-weight);
    font-size: 1rem;
    letter-spacing: normal;
    color: var(--button-color);
    text-underline-offset: 4px;
    font-family: var(--primary-font);
    letter-spacing: 0.2px;
}

.button--link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: auto;
    padding: 0px 0px;
    color: var(--color-primary);
    cursor: pointer;
}

.button--link:hover {
    text-decoration: underline;
}

.button__tooltip {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.buttonInput.buttonInput {
    box-shadow: var(--button-input-box-shadow);
    border-radius: var(--input-border-radius);

    button {
        border-radius: 2px;
    }

    &:has(input[type='radio']),
    &:has(input[type='checkbox']) {
        max-height: 2.8rem;
    }

    &:has(input:checked),
    &:hover {
        box-shadow: var(--button-input-box-shadow-active);
    }
}
