button[is='arpa-button']:not([variant='minimal']),
button[is='submit-button'] {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    background-color: var(--color-background);
    border: 2px solid var(--border-color);
    border-radius: 12px;
    height: 52px;
    padding: 0 12px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: var(--theme-transition);
    cursor: pointer;

    &:hover,
    &:focus {
        &:not(:disabled) {
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
            .button__content {
                text-decoration: underline;
            }
        }
    }

    &[variant='white'] {
        background-color: var(--grey-0);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--grey-10);
            }
        }
    }

    &[variant='secondary'] {
        background-color: var(--color-secondary);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--color-secondary);
            }
        }
    }

    &[variant='tertiary'] {
        background-color: var(--color-tertiary);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--color-tertiary);
            }
        }
    }
}

.button__content {
    flex: 1 1 auto;
    padding: 0 8px;
    max-height: 100%;
    height: auto;
    display: block;
    white-space: nowrap;
    font-weight: 500;
}

.button--link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: auto;
    padding: 0px 0px;
    color: var(--color-primary);
    cursor: pointer;
}

.button--link:hover {
    text-decoration: underline;
}
