:root {
    --button-border: 2px solid var(--border-color);
    --button-height: 3rem;
    --button-padding: 0 1rem 0 0.8rem;
    --button-radius: 12px;
    --button-shadow-active: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    --button-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    --button-weight: 700;
    --button-weight-active: 700;
    --button-gap: 0.4rem;
    --button-color: var(--grey-700);
    --button-icon-color: var(--grey-400);
    --button-active-color: var(--grey-500);
    --button-active-outline: none;
    --button-active-icon-color: var(--button-active-color);
    --button-underline-color: var(--grey-200);
    
}

.arpaButton:not([variant='minimal']) {
    --icon-size: 1.2rem;
    position: relative;
    align-items: center;
    gap: var(--button-gap);
    background-color: var(--color-background);
    border-radius: var(--button-radius);
    border: var(--button-border);
    box-shadow: var(--button-shadow);
    cursor: pointer;
    display: flex;
    height: var(--button-height);
    padding: var(--button-padding);
    transition: var(--theme-transition);

    &:has(.button__lhsIcon) {
        padding-left: 0.5rem;
    }

    arpa-icon {
        color: var(--button-icon-color);
        --icon-size: 1.4rem;
    }
    /**
     * Hover / Focus
     */
    &:hover,
    &:focus {
        &:not(:disabled) {
            box-shadow: var(--button-shadow-active);
            outline: var(--button-active-outline);
            .button__content {
                text-decoration: underline;
                text-decoration-color: var(--button-underline-color);
                font-weight: var(--button-weight-active);
                letter-spacing: 0px;
                color: var(--button-active-color);
            }
            .icon {
                color: var(--button-active-icon-color);
            }
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    /**
     * Variants
     */

    &[variant='primary'] {
        background-color: var(--grey-0);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--grey-10);
            }
        }
    }

    &[variant='secondary'] {
        background-color: var(--color-secondary);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--color-secondary);
            }
        }
    }

    &[variant='tertiary'] {
        background-color: var(--color-tertiary);
        &:hover,
        &:focus {
            &:not(:disabled) {
                background-color: var(--color-tertiary);
            }
        }
    }
    &[variant='submit'] {
        --button-icon-color: var(--purple-dark);
        --button-border: 2px solid var(--purple-dark);
        --button-active-color: var(--purple-dark);
        --button-active-icon-color: var(--purple-dark);
        --button-underline-color: var(--purple-dark);
    }
}


arpa-button {
    button arpa-tooltip.tooltip {
        position: absolute;
        inset: 0;
    }
}

.button__content {
    flex: 1 1 auto;
    max-height: 100%;
    height: auto;
    display: block;
    white-space: nowrap;
    font-weight: var(--button-weight);
    font-size: 1rem;
    letter-spacing: normal;
    color: var(--button-color);
    text-underline-offset: 4px;
    font-family: var(--primary-font);
    letter-spacing: 0.2px;
}

.button--link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: auto;
    padding: 0px 0px;
    color: var(--color-primary);
    cursor: pointer;
}

.button--link:hover {
    text-decoration: underline;
}

.button__tooltip {
    position: absolute;
    inset: 0;
    z-index: 1;
}