truncate-text {
    display: flex;
    flex-direction: column;
}

.truncateText__readMoreButton.truncateText__readMoreButton {
    padding: 0.5rem 0;
    align-self: flex-end;
    display: inline-block;
    margin-left: auto;
    color: var(--grey-600);
    font-weight: 600;
    font-size: 0.9rem;
    &:hover {
        color: var(--grey-800);
    }
}

.truncateText__textHandler {
    background-color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.truncateText__content {
    margin-right: 0.5rem;
}
