truncate-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .truncateText__button {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--grey-800);
    }

    &[inline-layout] {
        arpa-button {
            display: inline-flex;
        }
    }
}
