nav-list.navList {
    gap: 0;
}
.navList[variant='horizontal'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.navList[variant='horizontal'] nav-link {
    width: auto;
    flex: 1 0 auto;

    .listItem__main {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: baseline;
    }

    .listItem__content {
        text-align: center;
    }

    .listItem__contentWrapper {
        flex: 0 1 auto;
        justify-content: center;
        align-self: baseline;
    }
}

.navList[variant='vertical'] {
    flex-direction: column;
    padding: 0.8rem;
}

.navLink__divider.navLink__divider {
    text-align: center;
    color: var(--grey-100);
    font-weight: 600;
    font-size: 1.2rem;
    flex: 0 1 auto;
    padding: 0px 2px;
    max-width: 40px;
    /* display: flex; */

    arpa-icon {
        color: var(--grey-200);
        font-size: 1.2rem;
        height: auto;
    }
}
