:root {
    --drop-area-height: 4rem;
}

.dropArea {
    width: 100%;
    min-height: var(--drop-area-height);
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropArea__handler {
    --button-radius: 1rem;
    --input-height: 100%;
    align-items: center;
    background: var(--striped-area);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    transition: var(--theme-transition);
    width: 100%;

    &.dropArea__handler {
        border-radius: var(--input-border-radius);
        padding: 1rem;
    }

    input {
        display: none;
    }

    arpa-icon {
        --icon-size: 3rem;
        font-size: var(--icon-size);
        font-weight: 800;
        color: var(--grey-175);
    }

    &.dropArea__handler--active,
    &:hover,
    &:focus {
        outline: 1px solid var(--color-primary-light);
        arpa-icon {
            color: var(--grey-250);
        }
        .dropArea__label {
            text-decoration: underline;
            color: var(--color-primary);
        }
    }
}

.dropArea__content {
    align-items: center;
    bottom: 0;
    color: var(--grey-500);
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    font-size: 1rem;
    gap: 0rem;
    left: 0;
    line-height: 1.25rem;
    padding: 0 0.5rem;
    position: relative;
    text-transform: none;
    white-space: wrap;
}

.dropArea__label {
    margin: 0;
    font-size: 1rem;
    color: var(--grey-300);
    font-weight: 700;
    padding: 0;
}
