:root {
    --drop-area-height: 4rem;    
}

.dropArea {
    width: 100%;
    box-shadow: var(--box-shadow);
    min-height: var(--drop-area-height);
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropArea__handler {
    align-items: center;
    background: var(--striped-area);
    border-radius: 8px;
    border: var(--striped-area-border);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    outline: var(--striped-area-outline);
    padding: .5rem;
    text-align: center;
    transition: var(--theme-transition);
    width: 100%;
    flex: 1 1 auto;

    input {
        display: none;
    }

    arpa-icon {
        --icon-size: 3rem;
        font-size: var(--icon-size);
        font-weight: 300;
        color: var(--grey-300);
    }

    &.dropArea__handler--active,
    &:hover,
    &:focus {
        border: 2px solid var(--color-background);
        outline: 2px solid var(--color-primary);
        background: repeating-linear-gradient(
            50deg,
            var(--color-background),
            var(--color-background) 10px,
            var(--selected-hilight) 10px,
            var(--selected-hilight) 20px
        );

        .dropArea__label.dropArea__label,
        arpa-icon {
            color: var(--color-primary);
        }

        .dropArea__label.dropArea__label {
            text-decoration: underline;
            color: var(--color-primary);
        }
    }
}

.dropArea__content {
    align-items: center;
    bottom: 0;
    color: var(--grey-500);
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    font-size: 1rem;
    gap: 0rem;
    left: 0;
    line-height: 1.25rem;
    padding: 0 0.5rem;
    position: relative;
    text-transform: none;
    white-space: wrap;
}

.dropArea__label.dropArea__label {
    margin: 0;
    font-size: 1rem;
    color: var(--grey-300);
    font-weight: 700;
    padding: 0;
}
