* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-family-avant-garde);
    color: var(--text-color);
    background-color: var(--color-background);
    transition: var(--theme-transition);
}

body {
    overflow-y: scroll;
}
