:root {
    --icon-size: 1.5rem;
    --icon-color: var(--grey-400);
}

.icon {
    display: flex;
    align-items: center;
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-size);
    color: var(--grey-400);
    text-align: center;
}

arpa-icon[size="mini"] {
    color: var(--color-primary);
}