.circularSpinner {
    --spinner-thickness: 2px;
    --spinner-size: 3rem;
    --spinner-color: var(--color-primary);
    --spinner-track-color: #c2c2c2;

    display: contents;
    border-radius: 60%;
}

.circularSpinner__mask {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--overlay);
    animation: maskFadeIn 0.5s var(--easeOutExpo);
}

.circularSpinner__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--grey-600);
}

.circularSpinner__spinnerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--spinner-size);
    height: var(--spinner-size);

    .icon {
        --icon-size: calc(var(--spinner-size) / 2.8);

        font-weight: 600;
        color: var(--grey-400);
    }
}

.circularSpinner__label {
    z-index: 1;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--grey-400);
    white-space: nowrap;
}

.circularSpinner__spinner {
    position: absolute;
    box-sizing: border-box;
    width: var(--spinner-size);
    height: var(--spinner-size);
    margin: 0 auto;
    overflow: visible;
    transform: rotate(-90deg);
    animation: spin 1.5s infinite linear;
}

/* Sizes */

/* Thickness */

.circularSpinner[thickness='thin'] {
    --spinner-thickness: 1px;
}

.circularSpinner[thickness='medium'] {
    --spinner-thickness: 3px;
}

.circularSpinner[thickness='thick'] {
    --spinner-thickness: 4px;
}

.circularSpinner[size='mini'],
.circularSpinner[size='small'] {
    --spinner-size: 1.2rem;

    font-size: 0.75rem;

    .circularSpinner__label,
    .circularSpinner__content {
        flex-direction: row;
        font-size: 0.85rem;
    }
}

.circularSpinner[size='small'] {
    --spinner-size: 1.8rem;

    .circularSpinner__content {
        flex-direction: column;
    }
}

.circularSpinner[size='medium'] {
    --spinner-size: 3rem;
}

.circularSpinner[size='large'] {
    --spinner-size: 4rem;
}

.circularSpinner[size='x-large'] {
    --spinner-size: 5rem;
}

.circularSpinner__track {
    fill: none;
    stroke: var(--spinner-track-color);
    stroke-width: var(--spinner-thickness, 2px);
}

.circularSpinner__fill {
    fill: none;
    stroke: var(--spinner-color);
    stroke-width: var(--spinner-thickness, 2px);
    stroke-linecap: round;
    stroke-dasharray: 75 100;
    transition: stroke-dasharray 0.4s ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes maskFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
