.circularPreloader {
    --preloader-thickness: 2px;
    --preloader-size: 3rem;
    --preloader-border-width: var(--preloader-thickness);
    --preloader-outline-width: var(--preloader-thickness);
    --preloader-color: var(--color-primary);

    position: absolute;
    inset: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 60%;
}

.circularPreloader__mask {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--overlay);
    animation: maskFadeIn 0.5s var(--easeOutExpo);
}

.circularPreloader__content {
    margin-top: 16px;
    margin-left: 8px;
    font-size: 1rem;
    color: var(--grey-600);
}

.circularPreloader__spinnerContainer {
    position: absolute;
    inset: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

.circularPreloader__spinner {
    box-sizing: border-box;
    width: var(--preloader-size);
    min-width: var(--preloader-size);
    height: var(--preloader-size);
    min-height: var(--preloader-size);
    margin: 0 auto;
    border: var(--preloader-outline-width) solid #d9d9d9;
    border-top: var(--preloader-border-width) solid var(--preloader-color);
    border-right: var(--preloader-border-width) solid var(--preloader-color);
    border-left: var(--preloader-border-width) solid var(--preloader-color);
    border-radius: 100%;
    animation: spin 1.5s infinite linear;
}

/* Sizes */

.circularPreloader[size='mini'] {
    --preloader-size: 1rem;
    --preloader-thickness: 1px;
}

.circularPreloader[size='small'] {
    --preloader-size: 1.5rem;
}

.circularPreloader[size='medium'] {
    --preloader-size: 3rem;
}

.circularPreloader[size='large'] {
    --preloader-size: 4rem;
}

.circularPreloader[size='x-large'] {
    --preloader-size: 5rem;
    --preloader-thickness: 3px;
}

/* Thickness */

.circularPreloader[thickness='thin'] {
    --preloader-thickness: 1px;
}

.circularPreloader[thickness='medium'] {
    --preloader-thickness: 3px;
}

.circularPreloader[thickness='thick'] {
    --preloader-thickness: 4px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes maskFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
