.tooltip {
    --triangle-width: 0.5rem;
    --border-color: var(--grey-300);
    --bg-color: var(--grey-20);
    --text-color: var(--grey-700);
    --icon-color: var(--text-color);
    --tooltip-padding: 0.35rem 0.75rem;
    --handler-color: var(--grey-500);
    --handler-color-hover: var(--grey-700);

    position: relative;
    display: flex;

    .icon {
        color: var(--handler-color);
    }
}

.tooltip__content,
[role='tooltip'] {
    position: absolute;
    z-index: 1;
    display: none;
    width: max-content;
    max-width: 380px;
    padding: var(--tooltip-padding);
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: var(--text-color);
    text-align: left;
    text-justify: inter-word;
    white-space: normal;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    transition: var(--theme-transition);

    &::before,
    &::after {
        position: absolute;
        width: 0;
        height: 0;
        content: '';
        border-color: var(--border-color) transparent transparent transparent;
        border-style: solid;
        transition: var(--theme-transition);
    }
}

.tooltip:hover,
.tooltip:focus-within {
    .tooltip__handler {
        .button__content,
        .icon {
            color: var(--handler-color-hover);
        }
    }
}

.tooltip__content:focus-within,
.tooltip:focus-within .tooltip__content,
.tooltip__handler:hover + .tooltip__content,
.tooltip__handler:focus-within .tooltip__content,
.tooltip__handler:hover .tooltip__content,
.tooltip__handler:hover + .tooltip .tooltip__content,
.tooltip__handler:focus-within + .tooltip .tooltip__content {
    display: block;
}

.tooltip--contained {
    position: absolute;
    inset: 0;
}

@media (width < 410px) {
    .tooltip__content,
    [role='tooltip'] {
        max-width: calc(100vw - 2rem);
    }
}

.tooltip[variant="error"] {
    --text-color: var(--red-dark);
    --border-color: var(--red-medium);
    --handler-color: var(--red-dark);
    --handler-color-hover: var(--red-dark);
}

.tooltip[variant="info"] {
    --text-color: var(--color-primary-dark);
    --handler-color: var(--color-primary-dark);
    --handler-color-hover: var(--color-primary-dark);
    --border-color: var(--color-primary-dark);
}
