.testNode {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .testElement__body {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
    }

    header,
    main,
    footer,
    .testNode__aside,
    .testNode__content {
        padding: 1rem;
        border: 2px solid var(--grey-300);
        border-radius: 0.75rem;

        display: flex;
        flex-direction: column;
        gap: .75rem;

        text-align: center;
        justify-content: center;
        align-items: center;

        > span {
            font-size: 1rem;
            font-weight: 600;
            color: var(--grey-600);
        }
    }

    header {
        border-color: var(--red);
    }

    .testNode__aside {
        border-color: var(--orange);
    }

    main {
        border-color: var(--purple);
    }

    .testNode__content {
        border-color: var(--yellow);
    }

    footer {
        border-color: var(--blue);
    }
}
