li.navLink {
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.navLink .navLink__handler {
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    color: var(--grey-600);
    text-decoration: none;
    display: flex;
    background-color: transparent;
    border: none;
}

.navLink .navLink__handler:hover {
    color: var(--color-primary);
}
