@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dialog {
    --dialog-padding: 1.5rem;
    --dialog-v-padding: 1.5rem;
    --dialog-outline: 2px solid white;
    --dialog-text-color: var(--grey-800);
    --dialog-outline-color: transparent;
    --dialog-icon-color: var(--blue-navy);
    --dialog-title-color: var(--grey-700);

    z-index: 10;
    display: flex;
    display: none;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 24px;
    margin: 0;
    background-color: rgb(0 0 0 / 80%);
    animation: fadeIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &[open] {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.dialog__close.dialog__close {
    align-self: flex-end;
    margin-left: auto;

    .icon.icon {
        --icon-size: 1.75rem;
    }
}

.dialog__controls {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
    margin-left: auto;

    button {
        --button-underline-color: var(--dialog-outline-color);
        --button-outline-active: 2px solid var(--dialog-outline-color);
        --button-color-active: var(--dialog-text-color);
    }
}

.dialog__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: auto;
    max-height: calc(100vh - 48px);
    padding: 0;
    overflow: visible;
    outline: 3px solid var(--grey-50);
    background-color: var(--color-background);
    border: 3px solid var(--dialog-outline-color);
    border-radius: 2rem;
    box-shadow:
        rgb(0 0 0 / 15%) 0 15px 25px,
        rgb(0 0 0 / 5%) 0 5px 10px;
    transition: opacity 1s ease-in;
}

/** 
 * Header
 */

.dialog__header {
    z-index: 10;
    display: flex;
    align-items: center;
    padding: var(--dialog-padding);

    &:has(> .dialog__headerActions:only-child) {
        position: absolute;
        right: 0;
        background-color: transparent;
    }
}

.dialog__headerContent {
    display: flex;
    flex: 1 1 auto;
    gap: 1rem;
    align-items: center;
    margin: 0;
}

.dialog__headerActions {
    margin-left: auto;
}

.dialog__title {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;
    margin: 0;
    font-size: 1.4rem;
    color: var(--dialog-title-color);

    .icon {
        --icon-size: 1.75rem;

        position: relative;
        align-self: flex-start;
        color: var(--dialog-icon-color);
    }
}

.dialog__subtTitle {
    margin: 0;
    font-size: 1rem;
}

/** 
 * Body
 */

.dialog__body {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: var(--dialog-padding);
    padding-top: 0;
    overflow: auto;
    line-height: 26px;
}

.dialog:has(.dialog__footer) {
    .dialog__body {
        padding: 0 var(--dialog-padding);
    }
}

.dialog__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

/**
* Footer
*/

.dialog__footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--dialog-v-padding) var(--dialog-padding);
}

/**
* Text Color
*/
.dialog__content,
.dialog__titleText,
.dialog__icon {
    color: var(--dialog-text-color);
}

.dialog:has(.dialog__icon) .dialog__content {
    /* padding: 0 0.5rem; */
}

/**
 * Variants
 */

/**
 * Compact
 */

.dialog[variant='compact'] {
    --dialog-padding: 1rem;

    .dialog__wrapper {
        border: none;
        border-radius: 0.25rem;
    }

    .dialog__header {
        height: 3.2rem;
    }

    .dialog__body {
        padding: 0;
    }
}

/**
 * Delete
 */

.dialog[variant='delete'] {
    --dialog-text-color: var(--red-dark);
    --dialog-outline-color: var(--red-dark);
    --dialog-icon-color: var(--red-dark);
    --button-icon-color-active: var(--red-dark);

    .dialog__content {
        font-weight: 600;
    }
}

.dialog[variant='confirm'] {
    --dialog-outline-color: var(--orange);
    --dialog-icon-color: var(--orange);
    --button-icon-color-active: var(--orange);

    .dialog__content {
        font-weight: 600;
    }
}

/**
 * Sizes
 */

/**
 * Small
 */

.dialog[size='small'] {
    --dialog-padding: 1rem;

    .dialog__wrapper {
        max-width: 560px;
    }

    .dialog__body {
        padding-bottom: 0.5rem;
    }

    .dialog__footer {
        padding: 0.5rem;
    }
}

.dialog[size='large'] {
    .dialog__wrapper {
        max-width: 2200px;
        max-height: 100dvh;
    }
}

.dialog[size='medium'] {
    .dialog__wrapper {
        max-width: 800px;
        height: 500px;
        min-height: 500px;
        max-height: 500px;
    }
}

.dialog[size='full-screen'] {
    .dialog__wrapper {
        width: 100dvw;
        max-width: calc(100dvw - 4rem);
        height: 100dvh;
        max-height: calc(100dvh - 4rem);
    }
}
