:root {
    --dialog-padding: 1.5rem 1.5rem;
    --dialog-outline: 2px solid white;
    --dialog-text-color: var(--grey-800);
    --dialog-outline-color: transparent;
    --dialog-icon-color: var(--dialog-text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dialog {
    animation: fadeIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 24px;
    visibility: visible;
    width: 100%;
    z-index: 10;
    display: none;

    &[open] {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
    }

    &:has(.dialog__icon) .dialog__content {
        padding: 0 0.5rem;
    }
}

.dialog__close {
    margin-left: auto;
    align-self: flex-end;
}

.dialog__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-left: auto;
    button {
        --button-underline-color: var(--dialog-outline-color);
        --button-active-outline: 2px solid var(--dialog-outline-color);
        --button-active-color: var(--dialog-text-color);
    }
}

.dialog__wrapper {
    background-color: var(--color-background);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(100vh - 48px);
    max-width: 1000px;
    overflow: visible;
    padding: 0;
    transition: opacity 1s ease-in;
    width: 100%;
    outline: 3px solid var(--grey-50);
    border: 3px solid var(--dialog-outline-color);
    position: relative;
}

/** 
 * Header
 */

.dialog__header {
    display: flex;
    align-items: center;
    padding: var(--dialog-padding);
    z-index: 10;
    &:has(> .dialog__headerActions:only-child) {
        background-color: transparent;
        position: absolute;
        right: 0;
    }
}

.dialog__headerContent {
    display: flex;
    align-items: center;
    margin: 0;
    flex: 1 1 auto;
    gap: 1rem;
}

.dialog__headerActions {
    margin-left: auto;
}

.dialog__title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 20px;

    .icon {
        margin-right: 12px;
        max-width: 26px;
        color: var(--dialog-icon-color);
    }
}

.dialog__subtTitle {
    margin: 0;
    font-size: 14px;
}

/** 
 * Body
 */

.dialog__body {
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: var(--dialog-padding);
    line-height: 26px;
    position: relative;
    padding-top: 0;
}

.dialog__content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    /* padding: 0 0.5rem; */
}

/**
 * Footer
 */

.dialog__footer {
    padding: 0 1.5rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/**
 * Text Color
 */
.dialog__content,
.dialog__titleText,
.dialog__icon {
    color: var(--dialog-text-color);
}

/**
 * Variants
 */

/**
 * Small
 */

.dialog[size='small'] {
    --dialog-padding: 1rem;
    .dialog__wrapper {
        max-width: 560px;
    }
    .dialog__body {
        padding-bottom: 0.5rem;
    }

    .dialog__footer {
        padding: 0rem;
    }
}

.dialog[size='large'] {
    .dialog__wrapper {
        max-width: 2200px;
        max-height: 100dvh;
    }
}

.dialog[size='full-screen'] {
    .dialog__wrapper {
        max-width: calc(100dvw - 1rem);
        max-height: calc(100dvh - 1rem);
        width: 100dvw;
        height: 100dvh;
    }
}

/**
 * Compact
 */

.dialog[variant='compact'] {
    --dialog-padding: 1rem;

    .dialog__wrapper {
        border-radius: 0.25rem;
    }

    .dialog__header {
        height: 3.2rem;
    }

    .dialog__body {
        padding: 0;
    }

    .dialog__wrapper {
        border: none;
    }
}

/**
 * Delete
 */

.dialog[variant='delete'] {
    --dialog-text-color: var(--red-dark);
    --dialog-outline-color: var(--red-dark);
    --dialog-icon-color: var(--red-dark);
    --button-active-icon-color: var(--red-dark);
    .dialog__content {
        font-weight: 600;
    }
}

.dialog[variant='confirm'] {
    --dialog-outline-color: var(--orange);
    --dialog-icon-color: var(--orange);
    --button-active-icon-color: var(--orange);

    .dialog__content {
        font-weight: 600;
    }
}
