:root {
    /* Text */
    --color-white: #ffffff;

    --text-color: var(--grey-750);
    --text-inverted-color: var(--grey-50);
    --label-color: var(--grey-600);
    --label-color-light: #909090;

    /* Primary */
    --color-primary: var(--blue);
    --color-primary-light: #2879c9;
    --primary-hilight: var(--blue-lightest);
    --primary-highlight-outline: var(--blue-navy);

    /* Secondary */
    --color-secondary: #e89613;

    /* Tertiary */
    --color-tertiary: var(--blue-neon);

    /* Borders */
    --border-color: #e9e9e9;
    --border-dark-color: var(--grey-250);
    --border-light-color: var(--grey-100);

    /* Errors */
    --color-error: var(--red);
    --color-error-light: var(--red-lightest);

    --color-background: var(--grey-30);
    --overlay-95: rgba(247, 247, 247, 0.95);
    --overlay: rgba(247, 247, 247, 0.9);
    --overlay-medium: rgba(247, 247, 247, 0.75);
    --overlay-light: rgba(247, 247, 247, 0.5);
    --selected-hilight: var(--blue-light);
    --group-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px 2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --current-hilight: var(--yellow-lightest);

    /* Backgrounds */
    --bg-light-green: #d4ebce;
    
    --bg-light-red: #ffeeec;
}

