:root {
    --font-xxs: 0.625rem;
    --font-xs: 0.6875rem;
    --font-s: 0.75rem;
    --font-m: 0.875rem;
    --font-l: 1rem;
    --font-xl: 1.125rem;
    --font-xxl: 1.5rem;
    --font-3xl: 1.75rem;
    --font-4xl: 2rem;
    --font-5xl: 2.25rem;

    /* Roboto */
    --font-roboto: roboto, arial, helvetica, sans-serif;

    /* Recursive */
    --font-recursive: recursive, arial, helvetica, sans-serif;

    /* Quicksand */
    --font-quicksand: quicksand, arial, helvetica, sans-serif;
    --font-quicksand-bold: quicksandbold, arial, helvetica, sans-serif;

    /* Raleway */
    --font-raleway: raleway, arial, helvetica, sans-serif;
    --font-raleway-italic: ralewayitalic, arial, helvetica, sans-serif;

    /* Avant Garde */
    --font-avant-garde: avantgarde-bk, times, helvetica, sans-serif;
    --font-avant-garde-exlt: avantgarde-extralight, arial, helvetica, sans-serif;
    --font-avant-garde-lt: avantgarde-light, arial, helvetica, sans-serif;
    --font-avant-garde-thin: avantgarde-thin, arial, helvetica, sans-serif;

    /* DIN */
    --font-din: din, arial, helvetica, sans-serif;
    --font-din-light: din-light, arial, helvetica, sans-serif;
    --font-din-bold: din-bold, arial, helvetica, sans-serif;
    --font-din-md: din-medium, arial, helvetica, sans-serif;

    /* Vars */
    --primary-font: var(--font-quicksand);
    --secondary-font: var(--font-avant-garde);
    --tertiary-font: var(--font-avant-garde-exlt);
}

@font-face {
    font-family: AvantGarde-Bk;
    src: url('fonts/AvantGardeBQ-Book.otf');
}

@font-face {
    font-family: AvantGarde-GothicBook;
    src: url('fonts/AvantGardeGothicC-Book.otf');
}

@font-face {
    font-family: AvantGarde-Light;
    src: url('fonts/AvantGardeXLight.otf');
}

@font-face {
    font-family: AvantGarde-Thin;
    src: url('fonts/AvantGarde-Thin.ttf');
}

@font-face {
    font-family: AvantGarde-ExtraLight;
    src: url('fonts/AvantGardeExtLitITCTT.woff');
}

@font-face {
    font-family: DIN;
    src: url('fonts/DIN-Regular.otf');
}

@font-face {
    font-family: DIN-LIGHT;
    src: url('fonts/DIN-Light.otf');
}

@font-face {
    font-family: DIN-BOLD;
    src: url('fonts/DIN-Bold.otf');
}

@font-face {
    font-family: DIN-MEDIUM;
    src: url('fonts/DIN-Medium.otf');
}

@font-face {
    font-family: Quicksand;
    src: url('fonts/Quicksand.ttf');
}

@font-face {
    font-family: QuicksandLight;
    font-weight: 300;
    src: url('fonts/Quicksand.ttf');
}

@font-face {
    font-family: QuicksandBold;
    font-weight: 800;
    src: url('fonts/Quicksand.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('fonts/Raleway.ttf');
}

@font-face {
    font-family: RalewayItalic;
    src: url('fonts/Raleway-Italic.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/RobotoFlex.ttf');
}

@font-face {
    font-family: Recursive;
    src: url('fonts/Recursive.ttf');
}
