.tooltip {
    display: flex;
    position: relative;

    .tooltip__button.tooltip__button {
        background: none;
        border: none;
        padding: 0;
        transition: var(--theme-transition);
        color: var(--color-primary);
        inset: 0;
        max-width: 100%;
        width: auto;
        min-width: 0;
        gap: 12px;
    }
}

.tooltip__button:focus + .tooltip__content,
.tooltip:hover .tooltip__content {
    display: block;
}

.tooltip__content,
[role='tooltip'] {
    background-color: var(--primary-hilight);
    border-radius: 5px;
    border: 1.5px solid var(--color-primary);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    color: var(--grey-800);
    display: none;
    font-size: 12px;
    line-height: 16px;
    max-width: 250px;
    padding: 4px 6px;
    position: absolute;
    text-align: left;
    transition: var(--theme-transition);
    width: max-content;
    z-index: 1;
}

/* Tooltip Positions */

.tooltip.tooltip--left {
    align-items: center;
}

/* LEFT */
.tooltip.tooltip--left {
    align-items: center;
    display: flex;
    .tooltip__content {
        margin-right: 8px;
        right: 100%;
        left: auto;
    }
}

/* TOP LEFT */

.tooltip--top-left {
    align-items: center;
    display: flex;
    .tooltip__content {
        display: block;
        bottom: 100%;
        top: auto;
        left: auto;
    }
}

/* TOP */
.tooltip.tooltip--top .tooltip__content {
    bottom: 100%;
    top: auto;
    margin-bottom: 0px;
    left: auto;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* RIGHT */
.tooltip--right {
    align-items: center;
    display: flex;
    .tooltip__content {
        left: 100%;
        right: auto;
        margin-left: 8px;
    }
}

/* BOTTOM RIGHT */
.tooltip.tooltip--bottom-right .tooltip__content {
    top: 100%;
    bottom: auto;
    right: 0;
}

/* BOTTOM CENTER */
.tooltip--bottom.tooltip--bottom .tooltip__content {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* BOTTOM LEFT */
.tooltip.tooltip--bottom-left .tooltip__content {
    top: 100%;
    bottom: auto;
    margin-top: 8px;
    left: 0;
}
