:root {
    --tooltip-triangle-width: 8px;
    --tooltip-border-color: var(--grey-200);
    --tooltip-bg-color: var(--grey-50);
    --tooltip-triangle-width-sm: 8px;
}

.tooltip {
    display: flex;
    position: relative;

    .tooltip__button.tooltip__button {
        background: none;
        border: none;
        padding: 0;
        transition: var(--theme-transition);
        color: var(--color-primary);
        inset: 0;
        max-width: 100%;
        width: auto;
        min-width: 0;
        gap: 12px;
    }
}

.tooltip__button:focus + .tooltip__content,
.tooltip:hover .tooltip__content {
    display: block;
}

.tooltip__content,
[role='tooltip'] {
    /* background-color: var(--primary-hilight); */
    border-radius: 5px;
    /* border: 1.5px solid var(--color-primary); */
    border: 2px solid var(--tooltip-border-color);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--tooltip-bg-color);
    color: var(--grey-600);
    font-weight: 700;
    display: none;
    font-size: 12px;
    line-height: 16px;
    max-width: 250px;
    padding: 4px 6px;
    position: absolute;
    text-align: left;
    transition: var(--theme-transition);
    width: max-content;
    z-index: 1;

    &::before,
    &::after {
        content: '';
        position: absolute;
        border-color: var(--tooltip-border-color) transparent transparent transparent;
        width: 0;
        height: 0;
        border-style: solid;
    }
}

/* Tooltip Positions */

.tooltip.tooltip--left {
    align-items: center;
}

/* LEFT */
.tooltip.tooltip--left {
    align-items: center;
    display: flex;
    .tooltip__content {
        margin-right: 12px;
        right: 100%;
        left: auto;

        &::before,
        &::after {
            border-color: transparent transparent transparent var(--tooltip-border-color);
            border-width: var(--tooltip-triangle-width-sm) 0 var(--tooltip-triangle-width-sm)
                var(--tooltip-triangle-width-sm);
            top: 50%;
            transform: translateY(-50%);
            right: -8px;
        }

        &::after {
            border-color: transparent transparent transparent var(--tooltip-bg-color);
            border-width: var(--tooltip-triangle-width-sm) 0 var(--tooltip-triangle-width-sm)
                var(--tooltip-triangle-width-sm);
            right: -5px;
        }
    }
}

/* TOP LEFT */

.tooltip--top-left.tooltip--top-left {
    align-items: center;
    display: flex;
    .tooltip__content {
        display: block;
        bottom: 100%;
        top: auto;
        left: auto;
    }
}

/* TOP */
.tooltip.tooltip--top .tooltip__content {
    bottom: 100%;
    top: auto;
    margin-bottom: 0.75rem;
    left: auto;
    right: 0;
    left: 50%;
    transform: translateX(-50%);

    &::before,
    &::after {
        border-width: var(--tooltip-triangle-width) var(--tooltip-triangle-width) 0
            var(--tooltip-triangle-width);
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    &::after {
        border-color: var(--tooltip-bg-color) transparent transparent transparent;
        margin-top: -3px;
    }
}

/* RIGHT */
.tooltip--right {
    align-items: center;
    display: flex;
    .tooltip__content {
        left: 100%;
        right: auto;
        margin-left: 8px;
    }
}

/* BOTTOM RIGHT */
.tooltip.tooltip--bottom-right .tooltip__content {
    top: 100%;
    bottom: auto;
    right: 0;
}

/* BOTTOM CENTER */
.tooltip--bottom.tooltip--bottom .tooltip__content {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    margin-top: 8px;
}

/* BOTTOM LEFT */
.tooltip.tooltip--bottom-left .tooltip__content {
    top: 100%;
    bottom: auto;
    margin-top: 8px;
    left: 0;
}
