<!DOCTYPE html>
<html>
    <head>
        <% for (key in htmlWebpackPlugin.files.js) { %>
            <script type="module" src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
        <% } %>
        <title>Arpadroid UI demo</title>
        <link rel="stylesheet" href="themes/default/default.bundled.css">
        <link rel="stylesheet" href="material-symbols/outlined.css">
    </head>
    <body>
        <h1>Arpadroid UI demo</h1>
        <button icon="settings" variant="secondary" is="arpadroid-ui">Click me!</button>
    </body>
</html>
