:root {
    --image-thumbnail-bg: #e7f1fd;
    --image-thumbnail-color: #3271bf;
    --image-thumbnail-font-size: 2rem;
    --image-height: auto;
    --image-width: 100%;
    --image-border-radius: 0.5rem;
}

arpa-image {
    --preloader-size: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: var(--image-height);
    width: var(--image-width);
    max-height: 100%;

    figure {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    figcaption {
        padding: 0.5rem;
        margin-top: auto;
    }

    picture {
        overflow: hidden;
        border-radius: var(--image-border-radius);
        position: relative;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: opacity 0.5s ease;
        visibility: visible;
        opacity: 0;
        will-change: transform, opacity;
    }

    arpa-tooltip {
        position: absolute;
        inset: 0;
        .iconButton {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
        .tooltip__content {
            margin-top: 100%;
        }
    }

    .image__thumbnail {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-50);
        border-radius: var(--image-border-radius);
        position: absolute;
        inset: 0;

        arpa-icon {
            font-size: var(--image-thumbnail-font-size);
            width: 100%;
            height: 100%;
            padding: 4px;
            display: flex;
            align-items: center;
            border-radius: var(--image-border-radius);
            position: relative;
            background-color: var(--image-thumbnail-bg);
            color: var(--image-thumbnail-color);
            transition: opacity 0.5s ease;
            justify-content: center;
        }
    }

    circular-preloader {
        transition: opacity 1s ease;
    }

    .circularPreloader__mask {
        background-color: transparent;
    }

    /**
    * Loading
    */

    &.image--loading {
        img {
            opacity: 0;
        }
    }

    /**
    * Loaded
    */

    &.image--loaded {
        img {
            opacity: 1;
            z-index: 0;
            position: relative;
        }
        circular-preloader {
            opacity: 0;
            z-index: 0;
        }
        .image__thumbnail {
            z-index: 0;
            arpa-icon {
                background-color: var(--grey-50);
            }
        }
    }

    /**
    * Error
    */
    &.image--error {
        circular-preloader {
            display: none;
        }
        .image__thumbnail.image__thumbnail arpa-icon {
            background-color: var(--color-error-light);
        }
        .image__thumbnail arpa-icon {
            color: rgba(177, 35, 0, 0.6);
            background-color: var(--color-error-bg);
        }
    }

    drop-area {
        background: var(--overlay) !important;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        font-size: 12px;
        gap: 8px;
        height: auto;
        inset: 0;
        padding: 3px;
        opacity: 0;
        transition: var(--theme-transition);
        outline: 2px solid var(--color-primary);
        position: absolute;
        width: auto;
        outline: none;
        z-index: 1;
    }
}

.image--size-adaptive {
    --listItem-imgSize: 100%;
}

/**
 * Image Sizes
 */

.image--square {
    picture {
        aspect-ratio: 1 / 1;
    }
    img {
        aspect-ratio: 1 / 1;
    }
}

.image--size-big.image--size-big {
    --preloader-size: 80px;
    --preloader-border-width: 2px;
}

.image--size-small.image--size-small {
    --preloader-size: 60px;
    --preloader-border-width: 2px;
}

.image--size-x_small {
    --preloader-size: 48px;
    --preloader-border-width: 1.5px;
    --preloader-outline-width: 1.5px;
}

.image--size-xx_small {
    --preloader-size: 1rem;
    --preloader-border-width: 1.5px;
    --preloader-outline-width: 1.5px;
    .image__thumbnail arpa-icon {
        font-size: 1.8rem;
    }

    &.image--loading {
        .image__thumbnail arpa-icon {
            display: none;
        }
    }
}
