arpa-pager {
    width: 100%;
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 0px 0px;
    justify-content: center;
    margin-left: auto;
    padding: 12px 20px;
    container-type: inline-flex;
    container-name: pager-container;

    &:empty {
        display: none;
    }
}

.pager__numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0px 2px;
}

