arpa-pager {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 20px;
    margin-left: auto;
    container-name: pager-container;
    container-type: normal;
    border-radius: 8px;

    &:empty {
        display: none;
    }
}

.pager__numbers {
    display: flex;
    flex-flow: row wrap;
    gap: 0 2px;
    align-items: center;
    justify-content: center;
}
